.nav {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.link {
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.active {
  border-bottom: 2px solid black;
}
