/* ===================== MOBILE ===================================*/
@media screen and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    overflow: hidden;
    background-color: #faf3e0;
    width: 361px;
    height: 483px;
    padding: 12px;
  }

  .learnMoreBtn {
    background-color: transparent;
    width: 289px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    padding: 8px;
  }

  .save {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    padding: 8px;
  }

  .btnsWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .thumb {
    width: 337px;
    height: 230px;
    border-radius: 8px;
  }

  .description {
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timeWrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 2px 8px 2px 4px;
    height: 30px;
    width: 53px;
    justify-content: center;
    align-items: center;
  }

  .time {
    font-size: 12px;
    font-weight: 600;
  }

  .titleTimeWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
  }
}

/* ======================= TABLET ================================= */
@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background-color: #faf3e0;
    width: 339px;
    height: 483px;
    padding: 12px;
  }

  .learnMoreBtn {
    background-color: transparent;
    width: 267px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
  }

  .save {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    padding: 8px;
  }

  .btnsWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .thumb {
    width: 315px;
    height: 230px;
    border-radius: 8px;
  }

  .description {
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timeWrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 2px 8px 2px 4px;
    height: 30px;
    width: 53px;
    justify-content: center;
    align-items: center;
  }

  .time {
    font-size: 12px;
    font-weight: 600;
  }

  .titleTimeWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
  }
}

/* ======================= DESKTOP ================================ */
@media screen and (min-width: 1440px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background-color: #faf3e0;
    width: 288px;
    height: 431px;
    padding: 12px;
  }

  .learnMoreBtn {
    background-color: transparent;
    background-color: inherit;
    width: 216px;
    height: 100%;
    border-radius: 8px;
    border-width: 1px;
    padding: inherit;
  }

  .save {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    padding: 8px;
  }
  .saved {
    background-color: #9b6c43;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-width: 1px;
    padding: 8px;
  }

  .btnsWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .thumb {
    width: 264px;
    height: 178px;
    border-radius: 16px;
  }

  .saveBtnIcon {
    fill: none;
    stroke: #fff;
  }
}
