.formWrapper {
  background-color: #FAF3E0;
  padding: 40px;
  border-radius: 25px;
  max-width: 420px;
  margin: 40px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  font-family: inherit;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}

.label {
  font-size: 14px;
  margin-bottom: 20px;
  color: #9F9F9F;
}

.input {
  width: 100%;
  padding: 14px;
  margin-top: 8px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.passwordField {
  position: relative;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000000;
  transition: fill 0.3s ease;
}


.loginBtn {
  background-color: #9B6C43;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.redirectInfo {
font-weight: 400;
font-size: 16px;
line-height: 155%;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
}

.redirectLink {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.passwordWrapper {
  position: relative;
  margin-top: 4px;
}
.togglePassword {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #9b6c43;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
  z-index: 1;
}

.toggleIcon {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  stroke: #000000;
  fill: none;
  overflow: visible;
}

.togglePassword:hover .toggleIcon {
  stroke: #6d554b;
}

@media (max-width: 768px) {
  .formWrapper {
    padding: 30px;
    margin: 30px auto;
    max-width: 90%;
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .input {
    font-size: 15px;
    padding: 12px;
  }

  .loginBtn {
    font-size: 15px;
    padding: 10px;
  }

  .redirectInfo {
    font-size: 15px;
  }

  .eyeIcon {
    right: 12px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .formWrapper {
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    max-width: 95%;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .label {
    font-size: 13px;
    margin-bottom: 16px;
  }

  .input {
    font-size: 14px;
    padding: 10px;
  }

  .loginBtn {
    font-size: 14px;
    padding: 10px;
  }

  .redirectInfo {
    font-size: 14px;
  }

  .eyeIcon {
    right: 10px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}
