
/* ------------------added Haievska------------------ */
/* .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.item {
  list-style: none;
}

.empty {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin-top: 40px;
} */
