.wrapper {
  margin-top: 20px;
  margin: 0 auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.totalText {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.title {
  margin: 46px 0 16px 0;
}
