.filterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0;
}
.totalText {
  font-size: 18px;
  font-weight: 600;
}

.inlineFilters {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .dropdownContainer {
    display: none;
  }
}

@media only screen and (max-width: 1439px) {
  .dropdownContainer {
    font-weight: 600;
    font-size: 12px;
    position: relative;
  }

  .dropdownContainer svg {
    position: absolute;
    left: 95%;
    margin-top: 12px;
    fill: none;
    stroke: black;
    width: 24px;
    height: 24px;
  }

  .dropdownBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
    gap: 4px;
    font-size: 12px;
    font-weight: 600;
  }

  .dropdownContent {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--card-background);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    z-index: 10;
    min-width: 100%;
  }

  .inlineFilters {
    display: none;
  }

  .select {
    width: 180px;
    height: 34px;
    font-family: inherit;
    border: 1px solid #ddd;
    background-color: var(--white);
    border-radius: 6px;
    font-size: 12px;
    padding: 4px 8px;
  }

  .resetButton {
    position: relative;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 0;
    display: inline-block;
  }

  .resetButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
}

@media only screen and (min-width: 1440px) {
  .select {
    width: 180px;
    height: 34px;
    font-family: inherit;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    font-size: 16px;
    padding: 4px 8px;
  }

  .resetButton {
    position: relative;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 0;
    display: inline-block;
  }

  .resetButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
}
