/* ===================== MOBILE ===================================*/
@media screen and (max-width: 767px) {
  .noResults {
    font-size: 16px;
  }

  .recipesTitle {
    font-size: 32px;
    font-weight: 600;
    margin-top: 48px;
  }

  .noResults {
    font-size: 35px;
    margin-bottom: 80px;
  }

  .noResultsLine {
    margin-bottom: 40px;
    border: none;
    border-top: 5px dotted #ccc;
    width: 100%;
  }
}

/* ======================= TABLET ================================= */
@media screen and (min-width: 768px) {
  .noResults {
    font-size: 20px;
  }

  .recipesTitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: 48px;
  }

  .noResults {
    font-size: 35px;
    margin-bottom: 100px;
  }

  .noResultsLine {
    margin-bottom: 50px;
    border: none;
    border-top: 5px dotted #ccc;
    width: 100%;
  }
}

/* ======================= DESKTOP ================================ */
@media screen and (min-width: 1440px) {
}
