/* ===================== MOBILE ===================================*/
@media screen and (max-width: 767px) {
  .noResults {
    font-size: 16px;
  }
}

/* ======================= TABLET ================================= */
@media screen and (min-width: 768px) {
  .noResults {
    font-size: 20px;
  }
}

/* ======================= DESKTOP ================================ */
@media screen and (min-width: 1158px) {
  .noResults {
    font-size: 60px;
  }
}
