.wrapper {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.button {
  padding: 10px 24px;
  background-color: #9b6c43;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 289px;
  height: 54px;
  padding: 16px;
}
